language: php
php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - hhvm-nightly

matrix:
  allow_failures:
    - php: hhvm
    - php: hhvm-nightly

script:
 - vendor/bin/phpunit --coverage-clover=coverage.clover -v

before_script:
 - composer install --no-interaction --prefer-source --dev

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

notifications:
  irc: "irc.freenode.org#phpdocumentor"
  email:
    - me@mikevanriel.com
    - ashnazg@php.net
