parameters:
    level: max

    ignoreErrors:
        # Bug in PHPStan? The error is "expects A, A given"
        - '#Parameter \#1 \$tokens of method phpDocumentor\\Reflection\\Types\\ContextFactory::parse#'
        # ArrayIterator::current can return null if iterated even if ArrayIterator::valid isn't checked before
