parameters:
    bootstrapFiles:
        - src/PseudoTypes/False_.php
        - src/PseudoTypes/True_.php
    level: max
    excludePaths:
        - tests/benchmark/Assets/*
    paths:
        - src
        - tests
    ignoreErrors:
        # We are intentionally using non-existing classes here

        -
            message: "#^Class phpDocumentor\\\\Reflection\\\\DocBlock not found#"
            count: 1
            path: tests/unit/Types/ContextFactoryTest.php
        -
            message: "#^Class phpDocumentor\\\\Reflection\\\\DocBlock\\\\Tag not found#"
            count: 1
            path: tests/unit/Types/ContextFactoryTest.php

        # We are intentionally adding invalid parameters here
        -
            message: "#^Parameter \\#2 \\$typeClassName of method phpDocumentor\\\\Reflection\\\\TypeResolver\\:\\:addKeyword\\(\\) expects class\\-string\\<phpDocumentor\\\\Reflection\\\\Type\\>\\, string given\\.$#"
            count: 2
            path: tests/unit/TypeResolverTest.php

        # We are intentionally adding invalid parameters here
        -
            message: "#^Parameter \\#1 \\$types of class phpDocumentor\\\\Reflection\\\\Types\\\\Compound constructor expects array\\<phpDocumentor\\\\Reflection\\\\Type\\>\\, array\\<int\\, string\\> given\\.$#"
            count: 1
            path: tests/unit/Types/CompoundTest.php

        -
            message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<Foo\\\\Bar\\>\\|Foo\\\\Bar\\, string given\\.$#"
            count: 1
            path: tests/unit/Types/ContextFactoryTest.php
