<?xml version="1.0" encoding="utf-8"?>

<phpunit
    colors="true"
    beStrictAboutOutputDuringTests="true"
    forceCoversAnnotation="true"
    verbose="true"
    bootstrap="vendor/autoload.php"
>
    <testsuite>
        <directory>./tests/unit</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
</phpunit>
